node_modules
dist
dist-check
dist-ssr
.env
.env.local
.env.*.local
*.local
.vite
.vercel
*.timestamp-*.mjs

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
